# ================================
# SECRETS - NE JAMAIS PUSHER
# ================================
.env


# ================================
# DONNÉES VOLUMÉTRIQUES
# (données persistantes Docker)
# ================================
data/


# ================================
# LOGS ET DONNÉES MOSQUITTO
# ================================
services/mosquitto/log/
services/mosquitto/data/


# ================================
# LOGS HOMEPAGE
# ================================
services/homepage/config/logs/


# ================================
# CERTIFICATS SSL
# ================================
services/certs/
*.key
*.crt


# ================================
# NODE.JS / PHP
# ================================
web-app/app-js/node_modules/
web-app/app-php/vendor/


# ================================
# PGADMIN - Sessions et stockage
# ================================
services/pgadmin/sessions/
services/pgadmin/storage/


# ================================
# FICHIERS SYSTÈME
# ================================
*.swp
*.log
*.tmp
__pycache__/
.DS_Store